body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FAFAF8;
}

header {
  display: flex;
  justify-content: center;  
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
}

header > i {
  font-size: 2rem;
  margin: 0.5rem;
}

header > h1 {
  font-weight: 400;
}

.material-symbols-outlined {
  margin-left: 10px;
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 1rem;
}

.add-ingredient-form input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  padding: 0.2rem 1rem;
  background-color: #141413;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 0.5rem;
}

.generate-recipe-box {
  background-color: #f0efeb;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  gap: 100px;
  border-radius: 8px;
}

.recipe-text-box p {
  color: #6B7280;
  font-size: 14px;
}

.recipe-button-box {
}

button {
  background-color: #d17557;
  color: white;
  border: none;
  border-radius: 6px;
  width: 115px;
  height: 38px;
  align-self: center;
  cursor: pointer;
}